$primary-color: #95e1d3;
$secandry-color : #797979;
$main-font :"robotoregular";
$sub-title-font : " Kaushan Script";
$title-font : " Montserrat";
$overlay-color: linear-gradient(rgba(219, 116, 117, 0.6) ,rgba(228, 205, 125, 0.75));
      